<%# <% content_for :title, @job_post.title %>


<% if job_post %>
  <%= job_post.description.to_s %>

    <h1><%= @job_post.title %></h1>

    <p>Match Score: <%= @job_post.match_score %></p>

    <div>
        <%= @job_post.description.to_s.html_safe %>
    </div>

<% else %>
  <p>Job post not found.</p>
<% end %>


<div>
    <%= link_to "Cancel", job_posts_path %>
</div>
