<%= render 'layouts/partials/hero', title: "Blog", subtitle: "Latest insights and updates." %>

<div class="container py-5">
  <div class="row">
    <% @blog_posts.each do |post| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <%= link_to image_tag(post.cover_image, class: "card-img-top"), blog_path(post.slug) if post.cover_image.present? %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, blog_path(post.slug) %></h5>
            <p><%= strip_tags(markdown(post.content.to_s)).truncate(200) %></p>
            <p class="text-muted small">
              <%= post.published_at.strftime("%B %d, %Y") %> | 
              <%= pluralize(post.reading_time, "min") %> read
            </p>
            <%= link_to "Read More", blog_path(post.slug), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
